:root {
  /* makes scrollbar and inputs dark */
  color-scheme: light dark;

  /* colors */
  --clr-green: rgb(36, 174, 108);
  --clr-purple: rgb(127, 90, 240);
  --clr-grey: rgb(36, 38, 41);
  --clr-light-grey: rgb(114, 117, 126);
  --clr-black: rgb(22, 22, 26);
}

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-grey);
  color: rgb(255, 255, 255);
  overflow-x: hidden;
  overflow-y: scroll;
}

h1, h2 {
  padding: 0;
  margin: 5px;
}

h1 {
  margin-top: 15px;
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.flow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

}

/* colors */
.bg-green {
  background-color: var(--clr-green);
}

.bg-purple {
  background-color: var(--clr-purple);
}

.bg-grey {
  background-color: var(--clr-grey);
}

.bg-light-grey {
  background-color: var(--clr-light-grey);
}

.bg-black {
  background-color: var(--clr-black);
}

/* --------------- */
/* Components      */
/* --------------- */

/* general button & select style */
.btn-select-style {
  background-color: var(--clr-black);
  color: rgb(255, 255, 255);
  border: 3px solid var(--clr-green);
  margin: 5px;
  transition: background-color .5s ease-in-out;
}

.btn-hover-style:hover {
  background-color: var(--clr-purple);
}

.btn-select-style:active {
  background-color: var(--clr-purple);
}



.btn {
  border-radius: 23px;
  min-width: 8rem;
  padding: .5rem 1.5rem;
  cursor: pointer;
}

/* genre select */
.genre-select {
  border-radius: 8px;
  padding: .5rem 1.5rem;
}

/* --------------- */
/* Layout          */
/* --------------- */

/* landing layout */

#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: calc(fit-content + 100); 
}

.landing {
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.list-of-games-container {
  width: 70vw;
  height: 400px;
  background-color: var(--clr-light-grey);
  overflow-y: scroll;
}

.list-of-games img {
  width: 70px;
}

table {
  width: 100%;
}

thead {
  background-color: var(--clr-purple);
  width: 100%;
  height: 40px;
}


/* setting each table header cell (th) to be the same width as each table data cell (td)  */
/* th td {
  width: 20%;
} */

td {
  height: 50px;
}



/* Animations and effects */
.glitch-wrapper {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: transparent;
  z-index: 1;
}

.glitch {
  position: relative;
  font-size: 80px;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  letter-spacing: 5px;
  z-index: 1;
}

.glitch:before,
.glitch:after {
  display: block;
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.glitch:before {
  animation: glitch-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  color: #0ff;
  z-index: -1;
}

.glitch:after {
  animation: glitch-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
  color: #ff00ff;
  z-index: -2;
}

@keyframes glitch-color {
  0% {
     transform: translate(0);
  }

  20% {
     transform: translate(-3px, 3px);
  }

  40% {
     transform: translate(-3px, -3px);
  }

  60% {
     transform: translate(3px, 3px);
  }

  80% {
     transform: translate(3px, -3px);
  }

  to {
     transform: translate(0);
  }
}
